.h1 {
    text-align: center;
    font: bolder;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: space-around;
}
.daily {
    text-align: center;
    border: solid black 10px;
    width:fit-content;
}

div h2 {
    text-align: center;
}

.five-day {
    text-align: center;

}
section p {
    border: solid black 10px;

}