.h1 {
    text-align: center;
    font: bolder;
}

.container {
    display: flex;
    justify-content: space-between;
    width:25%;
    padding: 20px;
}

.sidebar {
    flex: 1;
    background-color: #f0f0f0;
    width: 25%;
    border-radius: 5px;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;

}
.daily {
    text-align: center;
    border: solid black 5px;
    width: 50%;
    align-items: center;
    
}

div h2 {
    text-align: center;
}

.five{
    display: flex;
    align-items: center;
  width: 50%;
}



ul {
    list-style: none;
}